h2 {
  display: block;
  font-size: 1.8em;
  line-height: 120%;
  text-align: justify;
  padding: 5px 0 15px 0;
}
h3 {
  display: block;
  font-size: 1.6em;
  line-height: 110%;
  text-align: justify;
  margin: 0.05em 0 0.05em 0;
  padding: 5px 0 5px 0;
}
h4 {
  display: block;
  font-size: 1.4em;
  line-height: 110%;
  text-align: justify;
  margin: 0.05em 0 0.05em 0;
  padding: 5px 0 5px 0;
}
h5 {
  display: block;
  font-size: 1.2em;
  line-height: 110%;
  text-align: justify;
  margin: 0.05em 0 0.05em 0;
  padding: 5px 0 5px 0;
}
p {
  display: block;
  font-size: 1.15em;
  line-height: 1.25em;
  text-align: justify;
  text-indent: 2em;
  margin: 0.3em 0 0.3em 0;
  padding: 0;
}
.title-bottom-line {
  border-bottom: 1px solid;
}
.volume-title {
  margin-top: 35%;
  border-style: none solid none none;
  border-width: 30px;
  border-color: #4E594D;
  padding: 30px 5px 5px 5px;
  font-size: x-large;
  line-height: 125%;
  text-align: right;
}
blockquote {
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 100%;
}
/* ————————图片—————————— */
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-name {
  display: block;
  font-size: 1.2em;
  line-height: 100%;
  text-align: center;
  text-indent: 0;
  margin: 0.05em 0 0.5em 0;
  padding: 0;
}
/* ————————多看、Kindle弹窗注释—————————— */
.duokan-footnote {
  line-height: 1;
  height: 1em !important;
  width: auto;
  border: 0;
}
.duokan-footnote-content {
  border: 1px dashed #6BC;
  /*box-shadow: 10px 10px 5px #AAAAAA;
  */
  clear: both;
  margin: 1em 1em 0.5em 2em;
  padding: 5px !important;
  text-align: justify;
}
.duokan-footnote-item {
  margin: 0.3em 0 0.3em 0;
  duokan-text-indent: 0;
  text-indent: 0;
  font-size: 80%;
  text-align: left;
}
sup img {
  line-height: 1.2;
  width: 0.85em;
  height: 0.85em;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
}
